.game-card {
  /* display: flex;
  width: 48px;
  height: 80px;
  background-color: #FFF;
  border-radius: 8px;
  border: 1px solid black;
  margin: 16px;
  padding: 4px; */

  position: relative;
  border: 1px solid black;
  cursor: pointer;
  width: 5rem;
  height: 8rem;
  border-radius: 0.3vw;
}

.card__rank-left {
  text-align: left;
  margin-left: 0.2vw;
}

.card__rank-right {
  text-align: left;
  position: relative;
  transform: rotate(180deg);
  top: 4.7vw;
  margin-right: 0.4vw;
}

.card__suit-left {
  text-align: left;
  margin-left: 0.2vw;
}

.card__suit-right {
  text-align: left;
  position: relative;
  transform: rotate(180deg);
  top: 4.7vw;
  margin-right: 0.4vw;
}

.card__suite {
  text-align: center;
}

.heart {
  background: url("../../../public/images/cards/heart.png") #ffffff;
  color: red;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}
.spade {
  background: url("../../../public/images/cards/spade.png") #ffffff;
  color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}
.club {
  background: url("../../../public/images/cards/club.png") #ffffff;
  color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}
.diamond {
  background: url("../../../public/images/cards/diamond.png") #ffffff;
  color: red;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

@media screen and (max-width: 1390px) and (min-width: 1200px) {
  .card__content {
    font-size: 12px;
  }
  .card__selected {
    border: 2px solid red;
    box-shadow: none !important;
  }
  .card__highlighted {
    border: 2px solid palevioletred;
    box-shadow: none !important;
  }
}

@media screen and (max-width: 1199px) and (min-width: 781px) {
  .card__content {
    font-size: 9px;
  }
  .card__selected {
    border: 2px solid red;
    box-shadow: none !important;
  }
  .card__highlighted {
    border: 2px solid palevioletred;
    box-shadow: none !important;
  }
}

@media screen and (max-width: 780px) {
  .card__content {
    font-size: 7.5px;
  }
  .card__selected {
    border: 2px solid red;
    box-shadow: none !important;
  }
  .card__highlighted {
    border: 2px solid palevioletred;
    box-shadow: none !important;
  }
}

/*****************/










