.game-card {

  display: block;
  width: 80px;
  height: 116px;
}

.game-card span {
  left: 0;
  border-radius: 5px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.card-black {
  color: black;
}

.card-red {
  color: red;
}

.card-value {
  font-size: 16px;
}

.card-suit {
  font-size: 8px;
}

.card-tl {
  display: flex;
  flex-grow: 1;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.card-br {
  display: flex;
  flex-grow: 1;
  flex-flow: column nowrap;
  justify-content: flex-start;
  transform:rotate(-180deg);
}

input[type=button] {
  padding: 8px 16px;
  margin: 16px;
  border-radius: 8px;
  background-color: red;
  border: 1px solid white;
  color: white;
  text-transform: uppercase;
}